.header{
    display:flex;
    align-items: center;
    height: 68px;
    background-color:var(--primary-color);
    top:0;
    z-index:100;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  
    /* justify-content: space-around; */
    color:#fff;
  }
  
  .header__logo{
  
    width:100px;
    margin:0 20px;
    object-fit: scale-down;
  
  }

  .search__icon{

  
    
    background-color: var(--secondary-color);
     padding:5px;
     height:22px;
     cursor:pointer;
  }

    .header__search{
    display:flex;
    align-items: center;
    border-radius:94px;
    flex:1
  }

  .header__searchInput{
    padding:17px;
    height:13px;
    width:100%;
    border:none;
    outline:none;
  }

  .header__option{

    display:flex;
    flex-direction: column;
    margin:0 10px;
  }



  .header__nav{
    display:flex;
    justify-content: space-evenly;
  }

  .header__optionOne{
font-size: 10px;
  }


  .header__optionTwo{

    font-size: 13px;
    font-weight:800
  }

  .header__optionBasket{
    display:flex;
    align-items: center;
    
  }
  .header__basketCount{

    margin:0 10px;
  }