.product {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  padding: 20px;
  z-index: 1;
  justify-content: flex-end;
  width: 100%;
  min-width: 100px;
  max-height: 400px;
  margin: 10px;
}
.product__image {
  max-height: 220px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}
.product__info {
  height: 100px;

  margin-bottom: 15px;
}

.product__button {
  background-color: var(--secondary-color);
  margin-top: 10px;
  color: var(--primary-color);
  border: 1px solid;
  border-color: #abb734;
}

.product__star{

    display:flex;
}